@import "root-variables.css";

body {
    padding: 0;
    margin: 0;
}

.all-content {
    display: block;
    position: relative;
    height: 100%;
    background: linear-gradient(360deg, var(--background-darker-shade) 0%,
    var(--background-lighter-shade) 100%);
    z-index: 2;
    box-shadow: 0 0 20px 1px var(--shadow);
}

.menu {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.menu > a {
    display: block;
    position: relative;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    transition: .35s;
    padding: 45px;
    left: 50%;
    transform: translate(-50%);
    color: var(--button-text);
    background-color: transparent;
    width: 600px;
    max-width: 50%;
    animation: fade-in 0.5s ease-in;
}

.menu > a:hover{
    color: var(--button-hover-text);
    text-decoration: none;
}

.menu > a:hover::after {
    left: -10%;
    width: 120%;
    text-decoration: none;
}

.menu > a::after {
    position: absolute;
    transition: .35s;
    content: ' ';
    width: 0;
    top: 0;
    height: 100%;
    left: -10%;
    z-index: -1;
    background: var(--button-hover);
    text-decoration: none;
}

.menu a:focus {
    outline-style: solid;
    outline-color: var(--button-focus-outline);
    text-decoration: none;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.scrollDownArrow{
    height: 50px;
    width: 50px;
    margin-left: 50%;
    transform: translate(-50%, 100px);
}

.inverted {
    filter: invert(1);
}

.scrollDownArrow.hidden {
    animation: fade-out 0.2s ease-in-out forwards;
}

.scrollDownArrow.shown {
    animation: fade-in 0.2s ease-in-out forwards;
}