body {
    padding: 0;
    margin: 0;
}

.all-content {
    display: block;
    position: relative;
    height: 100%;
    background: linear-gradient(360deg, #1A237E 0%, #1E88E5 100%);
    z-index: 2;
    box-shadow: 0 0 20px 1px #050505;
}

.menu {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.menu button {
    display: block;
    position: relative;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;
    transition: .35s;
    margin: 0 25%; /*top-bottom, left-right*/
    padding: 45px;
    color: #E3F2FD;
    background-color: transparent;
    border: none;
    width: 50%;
    border-radius: 0;
    animation: fade-in 0.5s ease-in;
}

.menu button:hover{
    color: #263238;
}

.menu button:hover::after {
    left: -10%;
    width: 120%;
}

.menu button::after {
    position: absolute;
    transition: .35s;
    content: ' ';
    width: 0;
    top: 0;
    height: 100%;
    left: -10%;
    z-index: -1;
    background: #64B5F6;
}

.menu button:focus {
    outline-style: dotted;
    outline-color: #4B87B7;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}