:root {
    --background-darker-shade: #1A237E;
    --background-lighter-shade: #1E88E5;
    --button-text: #E3F2FD;
    --button-hover-text: #263238;
    --button-hover: #64B5F6;
    --button-focus-outline: #4B87B7;
    --footer-background: #263238;
    --footer-button-background: #546E7A;
    --shadow: #050505;
    --weather-button-background-color: #00695C;
    --weather-button-border-color: #004D40;
    --weather-button-text-color: #ffffff;
}