:root {
    --background-darker-shade: #1a237e;
    --background-lighter-shade: #1e88e5;
    --button-text: #e3f2fd;
    --button-hover-text: #263238;
    --button-hover: #64b5f6;
    --button-focus-outline: #4b87b7;
    --footer-background: #263238;
    --footer-button-background: #546e7a;
    --shadow: #050505;
    --weather-button-background-color: #00695c;
    --weather-button-border-color: #004d40;
    --weather-button-text-color: #ffffff;
}
