@import "root-variables.css";

.background {
    background: linear-gradient(360deg, var(--background-darker-shade) 0%,
    var(--background-lighter-shade) 100%);
    min-height: 100vh;
    z-index: 2;
    position: relative;
    box-shadow: 0 0 20px 1px var(--shadow);
}

.content {
    margin: auto;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(8, 100px);
    grid-auto-rows:minmax(auto, auto);
    padding: 2em 5em;
    justify-items: stretch;
    max-width: 1300px;
}

.content > button {
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 16px;
    transition: 0.2s;
    position: relative;
    color: var(--weather-button-text-color);
    background-color: var(--weather-button-background-color);
    border: 5px var(--weather-button-border-color) solid;
}

.content > button:hover {
    animation: Add_Shadow 0.35s ease forwards;
    transition: 0.35s;
    cursor: pointer;
    background-color: var(--weather-button-border-color);
    box-shadow: none;
    z-index: 3;
}

.content > button:focus {
    outline: none;
    background-color: var(--weather-button-border-color);
}

#palanga {
    grid-row: 2/3;
    grid-column: 1/3;
}
#siauliai {
    grid-row: 1/3;
    grid-column: 3/5;
}
#panevezys {
    grid-row: 1/3;
    grid-column: 5/7;
}
#rokiskis {
    grid-row: 2/4;
    grid-column: 7/9;
}
#ignalina {
    grid-row: 3/5;
    grid-column: 9/10;
}
#klaipeda {
    grid-row: 3/5;
    grid-column: 1/3;
}
#kelme {
    grid-row: 3/5;
    grid-column: 3/5;   
}
#kedainiai {
    grid-row: 3/5;
    grid-column: 5/7;
}
#moletai {
    grid-row: 4/6;
    grid-column: 7/9;
}
#silute {
    grid-row: 5/6;
    grid-column: 1/3;
}
#jurbarkas {
    grid-row: 5/7;
    grid-column: 3/5;   
}
#kaunas {
    grid-row: 5/7;
    grid-column: 5/7;
}
#vilnius {
    grid-row: 6/8;
    grid-column: 7/9;
}
#druskininkai {
    grid-row: 7/9;
    grid-column: 5/7;
}

@media all and (max-width: 930px)
{
    .content {
        grid-template-columns: repeat(8, 1fr);
    }
    #ignalina {
        grid-row: 4/5;
        grid-column: 7/9;
    }
    #moletai {
        grid-row: 5/6;
    }
}

@media all and (max-width: 760px)
{
    .content{
        padding: 2em;
    }
}

@media all and (max-width: 660px)
{
    .content {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(10, 100px);
        padding: 2em;
    }

    #palanga {
        grid-row: 1/3;
        grid-column: 1/2;
    }
    #siauliai {
        grid-row: 1/3;
        grid-column: 2/3;
    }
    #panevezys {
        grid-row: 1/3;
        grid-column: 3/4;
    }
    #rokiskis {
        grid-row: 3/5;
        grid-column: 3/4;
    }
    #ignalina {
        grid-row: 5/7;
        grid-column: 3/4;
    }
    #klaipeda {
        grid-row: 3/5;
        grid-column: 1/2;
    }
    #kelme {
        grid-row: 3/5;
        grid-column: 2/3;   
    }
    #kedainiai {
        grid-row: 5/7;
        grid-column: 2/3;
    }
    #moletai {
        grid-row: 7/9;
        grid-column: 3/4;
    }
    #silute {
        grid-row: 5/7;
        grid-column: 1/2;
    }
    #jurbarkas {
        grid-row: 7/9;
        grid-column: 1/2;   
    }
    #kaunas {
        grid-row: 7/9;
        grid-column: 2/3;
    }
    #vilnius {
        grid-row: 9/11;
        grid-column: 3/4;
    }
    #druskininkai {
        grid-row: 9/11;
        grid-column: 2/3;
    }    
}

.modal {
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
    color: var(--weather-button-text-color);
    padding: 50px 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.35s;
    background-color: var(--weather-button-background-color);
    border: 5px var(--weather-button-border-color) solid;
    border-radius: 5px;
    z-index: 10;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal > div {
    margin: 25px 0;
}

.modal > img {
    display: block;
    width: 180px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    z-index: 5;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}